<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{@blog.title}}</title>
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
      <link href="/assets/css/main.css" rel="stylesheet">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans|Give+You+Glory:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
      <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {{ghost_head}}
      </head>
      <body>
        <div class="container">
          <div class="blog-header bg-danger" {{#if @blog.cover}} style='background-image: url("{{@blog.cover}}"); background-size:cover;' {{/if}}>
            {{#if @blog.logo}}
            <div class="blog-logo">
              <a href="{{@blog.url}}">
              <img src="{{@blog.logo}}" class="img-responsive blog-logo-img" alt="{{@blog.title}}">
              </a>
            </div>
            {{else}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            {{/if}}
            <p class="lead blog-description">{{@blog.description}}</p>
          </div>
          {{ navigation }}
        </div>
        <div class="container">
          <div class="blog-body">
            <div class="row">
              <div class="col-xs-12 blog-main bg-info">
                {{{ body }}}
              </div>
            </div>
          </div>
        </div>
        {{> footer }}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/assets/js/tether.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
        {{ghost_foot}}
      </body>
    </html>
