{{!< default}}

{{#foreach posts}}
   <div class="blog-post">
      <div class="blog-post-header">
         <h2 class="blog-post-title"><a href="{{url}}">{{title}}</a></h2>
         <p class="blog-post-meta">
            {{#author}}<a href="{{url}}">{{name}}</a>{{/author}}<span>, {{date published_at timeago="true"}}</span>
         </p>
      </div>
      {{#if image}}
         <div class="blog-image-container">
            <img src="{{image}}" class="img-responsive blog-image">
         </div>
      {{/if}}

      {{ excerpt }} ...
      <a href="{{url}}">Read more &#187;</a>
   </div>
{{/foreach}}

{{ pagination }}
